.AboutUsPageDisplay {
    height: 100vh;
    gap: 40px;
    padding: 10px;
}

.profil {
    display: flex;
    height: 33%;
    align-items: center;
    gap: 20px;
}

.profileImg {
    border: 1px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    gap: 10px;

}

.Arthur {
    object-fit: cover;
}