/* -----------------------------------Header ----------------------*/
header {

    display: flex;
    justify-content: space-between;
    align-items: center;


}



.navBar {
    width: 17%;

    display: flex;
    justify-content: space-around;

}

.navBar a {
    background: gray;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}



.title {
    font-size: 40px;
    padding: 14px 16px;
    justify-self: center;
    text-shadow: 2px 2px #313131;
    text-align: center;
}



.LogIn {
    padding: 14px 16px;
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
}

.btn {
    border-radius: 10px;
}




/* -----------------------------------Page Principale ----------------------*/

/* Search Bar */
#searchBar {

    display: flex;
    justify-content: center;
    padding: 10px;
    height: 20%;

}

body {
    background: linear-gradient(to top, rgba(255, 0, 0, 0), rgb(247, 153, 153));

}

.inputText {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: large;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border: none;
}

#btnSearch {
    border: none;
    font-size: rem;

}

.bi {
    width: 20px;
    height: 20px;
}

a {
    border-radius: 10px;
}


/* Wrapper Filter + Resultat */

#mainWrapper {
    display: flex;
    height: 100vh;

    flex-direction: row;
    padding: 10px;
}

#mainWrapper div {
    margin: 10px;
}

/* Wrapper Filter */
#filterContent {
    background-color: blue;
    display: flex;
    flex-direction: column;

}

/*Conteneur filtre top*/

.top_container_filter {
    display: flex;
    justify-content: space-between;
}

.filter_selector {
    width: 500px;
}


/* conteneur de gauche */
#leftContainer {
    width: 20%;
    border: solid;
    height: 100%;
    background-color: chartreuse;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    /* ou une hauteur fixe, ex: 400px */
}

/* Wrapper Diplay tag */



/* Wrapper Resultat */
.mainContentWrapper {

    width: 80%;
    border: solid;
    height: 100%;
    background-color: red;
}

.DisplayFilter {
    background-color: orange;
}

.showResult {

    height: 90%;
    width: 95%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}


.IngPicture {
    height: 40px;
}

.ModifRecette {
    width: 40%;
}

.DeleteRecette {
    width: 10%;
}

/* -----------------------------------Footer ----------------------*/
.mainFooter {

    text-align: center;
    background-color: red;
    font-size: 17px;
}